@{
    Layout = "~/Views/Shared/_LayoutSeguridad.cshtml";
}
@section scripts {
    <script src="~/src/seguridad/servicios/rolservice.js" asp-append-version="true"></script>
    <script src="~/src/aplicacion/servicios/formularioservice.js" asp-append-version="true"></script>
    <script src="~/src/seguridad/servicios/RolUsuarioService.js" asp-append-version="true"></script>
    <script src="~/src/seguridad/servicios/UsuarioService.js" asp-append-version="true"></script>
    <script src="~/src/controllers/Seguridad/RolUsuario.js" asp-append-version="true"></script>
    <script>
        const form = new RolUsuarioController();
        form.Initialize();
    </script>
}
<div class="row">
    <div class="col-lg-6">
        <div id="grid"></div>
    </div>
    <div class="col-lg-6">
        <div id="usuarios"></div>
    </div>
</div>