<ul class="navbar-nav">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-solid fa-{{ currentTheme() === 'dark' ? 'moon' : 'sun' }} me-2" aria-hidden="true"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-compact">
            <li>
                <button class="dropdown-item" type="button" [class.active]="currentTheme() === 'light'" (click)="changeTheme('light')">
                <i class="fa fa-solid fa-sun me-2" aria-hidden="true"></i>
                </button>
            </li>
            <li>
                <button class="dropdown-item" type="button" [class.active]="currentTheme() === 'dark'" (click)="changeTheme('dark')">
                <i class="fa fa-solid fa-moon me-2" aria-hidden="true"></i>
                </button>
            </li>
        </ul>
    </li>

    @if (currentUser(); as user) {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ user.userName }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><span class="dropdown-item-text text-muted small">{{ user.userName }}</span></li>
                <li><hr class="dropdown-divider" /></li>
                <li><button class="dropdown-item text-danger" type="button" (click)="logout()">Cerrar sesión</button></li>
            </ul>
        </li>
    }
</ul>